<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="HTML, CSS, JS, PHP">
		<meta name="description" content="Descrição do site">
		<meta name="author" content="Code Universe">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="robots" content="index, follow">
		<title>Projeto</title>
		<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/brands.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/solid.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/sweetalert2/dist/sweetalert2.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/site/layout.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/site/home.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/site/contact.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/site/quem_somos.css">
		<link rel="shortcut icon" href="../../assets/img/favicon.ico">
	</head>
	<body>
		<header>
			<div class="container">

				<nav class="navbar navbar-expand-lg">
					<a class="navbar-brand logo" href="/"><img src="../../assets/img/logo.png"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
						<ul class="nav">
						<li class="nav-item active">
							<a class="nav-link text-light float-right" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light float-right" href="../../quem_somos">Quem Somos</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-light float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Menu
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item float-right" href="../../contatos">Contatos</a>
							<a class="dropdown-item float-right" href="../../contato">Contato</a>
						</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		{{{body}}}

		<footer>
			<div class="rodape" id="content-rodape">
				<!-- Rodapé -->
				<div class="container">
					
					<section class="menus">
						
						<div class="row">
							
							<!-- Links -->
							<div class="col-md-4 col-sm-12 col-12">
								<h3 class="my-2 text-light text-center"><b>Páginas</b></h3>
								<div class="link-responsive text-left">
									<a href="/" class="text-light d-block ml-5">Home</a>
									<a href="../../contato" class="text-light d-block ml-5">Contato</a>
									<a href="../../quem_somos" class="text-light d-block ml-5">Quem Somos</a>
								</div>
							</div>

							<!-- Politica -->
							<div class="col-md-4 col-sm-12 col-12">
								<h3 class="my-2 text-light text-center"><b>Informações</b></h3>
								<div class="link-responsive text-left">
									<a href="#" class="text-light d-block ml-5">Política de privacidade</a>
									<a href="#" class="text-light d-block ml-5">Termos de uso</a>	
								</div>
							</div>

							<!-- Redes Sociais -->
							<div class="col-md-4 col-sm-12 col-12">
								<h3 class="my-2 text-light text-center"><b>Redes Sociais</b></h3>
								<div class="row">

									<!-- Facebook -->
									<div class="col-6">
										<a href="#" class="float-right">
											<i class="fab fa-facebook-square"></i>
										</a>
									</div>

									<!-- Instagram -->
									<div class="col-6">
										<a href="#" class="float-left">
											<i class="fab fa-instagram-square"></i>
										</a>
									</div>

									<!-- WhatsApp -->
									<div class="col-6">
										<a href="#" class="float-right">
											<i class="fab fa-whatsapp-square"></i>
										</a>
									</div>

									<!-- LinkedIn -->
									<div class="col-6">
										<a href="#" class="float-left">
											<i class="fab fa-linkedin"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="../../assets/libs/jquery/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/popper/popper.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/sweetalert2/dist/sweetalert2.all.min.js"></script>
		<script type="text/javascript" src="../../assets/libs/sweetalert2/src/sweetalert2.js"></script>
		<script type="text/javascript" src="../../assets/js/site/layout.js"></script>
		<script type="text/javascript" src="../../assets/js/site/contact.js"></script>
	</body>
</html>